<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="../../static/inicio/css/style.css">
   
</head>
<body>
    <div class="contenedor nav-bg">
        <nav class="navegacion-principal">
            <a href="{% url 'Principal' %}">Home</a>
            <a href="{% url 'Cursos' %}">Cursos</a>
            <a href="{% url 'Contacto' %}">Contacto</a>
        </nav>
    </div>

     <!--Barra de navegación-->
     <div class="barra">
        <ul>
            <a href="{%url 'Principal' %}">
                {% if request.path == '/' %}
                    Principal
                {%else%}
                    Principal{{request.path}}
                {%endif%}
            </a>
        </ul>
    </div>
    <!--Barra de navegación-->

    {% block encabezado %}

    {% endblock%}
   

    {% block contenido %}

    {% endblock%}
</body>
</html>